---
Checks: readability-*,-readability-magic-numbers,portability-*, performance-*, modernize-*, bugprone-*, abseil-*, google-*, -google-readability-casting
WarningsAsErrors: ""
HeaderFilterRegex: "^((?!/system/|/variants/).)*$"
AnalyzeTemporaryDtors: true
